/* HomePage.css */

.header {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.logout_button, .search_button, .create_event_button {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.logout_button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.search_button {
    position: absolute;
    top: 10px;
    left: 10px;
}

.create_event_button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.events-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 40px;
}

.events-header {
    width: 48%;
}

.events-header_1, .events-header_2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.events-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.events-table td, .events-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.events-table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: normal;
}

.owned-events-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.owned-events-table td, .owned-events-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.owned-events-table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: normal;
}

.more-info-button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
