
.logout_button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search_button {
    position: absolute;
    top: 0;
    margin: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create_event_button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.events_header_1, .events_header_2 {
    font-size: 1.5rem;
    margin: 20px 0;
}

.events-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
}

.events-header {
    width: 45%;
}

.events-header_1 {
    text-align: center;
}

.events-header_2 {
    text-align: center;
}